<h1 id="tableLabel">Список авто</h1>


<div style="margin-bottom: 5px;"><a class="btn btn-success" routerLink="/edit-car"> Добавить</a></div>

<div *ngIf="carItems; else loading">
<table class='table table-striped' aria-labelledby="tableLabel" >
  <thead>
  <tr>
    <th>Бренд</th>
    <th>Модель</th>
    <th>Кузов</th>
    <th>Дата</th>
    <th>Мест</th>
    <th>Url</th>
    <th>Действие</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of carItems | paginate: { itemsPerPage: 10, currentPage: p ,totalItems:totalItems} ">
    <td><a [routerLink]="['/edit-car',car.id ]">
      {{ car.brand.name }}
    </a>
      </td>
    <td>{{car.modelName}}</td>
    <td>{{ car.chassisType.name }}</td>
    <td>{{ car.created | date:'dd.MM.yyyy' }}</td>
    <td>{{ car.seatsCount }}</td>
    <td>{{ car.url }}</td>
    <td>
      <a title="Редактировать" class="fa fa-external-link" [routerLink]="['/edit-car',car.id ]">
      </a> &nbsp;
    <a [routerLink]=""(click)="delete(car.id)" title="Удалить" class="fa fa-times"></a>
    </td>
  </tr>
  </tbody>
</table>
  <pagination-controls (pageChange)="p = $event;loadPage(p)"></pagination-controls>
</div>
<ng-template #loading ><app-loader></app-loader></ng-template>


